<title>patrick kage's blog</title>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
<link href="{{ "/css/index.css" | relative_url }}" rel="stylesheet" type="text/css"/>
<link href="{{ "/css/code.css" | relative_url }}" rel="stylesheet" type="text/css"/>
<link rel="icon" href="{{ "/img/site/favicon.png" | relative_url }}"/>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta property="og:title" content="patrick kage's blog"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="https://ka.ge/blog"/>
<meta property="og:description" content="yet another blog"/>
<meta property="og:image" content="{{ "/img/site/preview.png" | absolute_url }}"/>

