---
---
<!DOCTYPE HTML>
<html>
    <head>
        {% include head.html %}
    </head>
    <body>
        <div class="post-layout">
            <nav>
                <a href="{{ "/" | relative_url }}" class="nav__left">back</a>
                <div class="nav__center">patrick kage's blog</div>
                <div class="nav__right">{{ page.date | date_to_string }}</div>
            </nav>
            <article>
                {{ content }}
            </article>
            <footer>
                Patrick Kage &bull; {{ page.date | date_to_string }}
            </footer>
        </div>
        <main>
        </main>
    </body>
</html>
